/* Esercizio-1 */

  .ex-1-square:hover {
    background-color: red;
    transition: background-color 1.5s;
  }

  /* Esercizio-2 */

  .ex-2-square:hover {
    width: 100%;
    transition: width 1.5s;
  }

  /* Esercizio-3 */

  .ex-3-square:hover {
    border-radius: 50%;
    transition: border-radius 2s;    
  }
 
  /* Esercizio-4 */

  .ex-4-square:hover {
    opacity: 0%;
    transition: opacity 2s;
  } 

  /* Esercizio-5 */

  .ex-5-square:hover {
    width: 100px;
    height: 100px;
    transition: height 2s, width 2s;
      
  }

  .ex-5-square:active {
    width: 60px;
    height: 60px;
  }
  
  @keyframes .ex-5-square {
    50% {
        width: 80px;              
    }

    50% {
        height: 80px;
    }
  }

  /* Esercizio-6 */

  .ex-6-img:hover {
    filter: grayscale(1); 
    transition: 2s;   
  }

  /* Esercizio-7 */
  
  .ex-7-img:hover {    
    filter: grayscale(0.8) blur(5px);
    transition: 2s;
  }

  /* Esercizio-8 */

  .ex-8-img:hover {
    border-radius: 30px;
    filter: hue-rotate(90deg) opacity(0.3);    
    transition: border-radius 3s, filter 3s;

  }

  /* Esercizio-9 */

  .ex-9-img:hover {
    width: 300px;
    border-radius: 30px;
    filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210)) hue-rotate(90deg);
    transition: border-radius 3s, filter 3s, width 3s;

  }

  /* Esercizio-10 */

  .ex-10-icon:hover {
    animation: rotation 3s linear infinite;    
  }

  @keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  
  /* Esercizio-11 */

  /* Esercizio-12 */

  /* Esercizio-13 */
  